*/.ipynb_checkpoints/
*.h5
*.swp
notebooks/mydask.png
*.html
notebooks/*.txt
notebooks/Makefile
notebooks/*.py
notebooks/data/nycflights/
notebooks/data/daily-stock/
notebooks/nycflights
*.parquet
*.feather
.ipython/
.local/
.jupyter/
big-data
.config
.cache/matplotlib/fontlist-v310.json
notebooks/book-*.dat
.doit.db
build
notebooks/_build/
notebooks/books/hugo.txt
notebooks/books/proust.txt
notebooks/books/stendhal.txt
notebooks/books/zola.txt
*.ipynb
